<footer class="site--footer">
  <div class="wrapper">
    <h2 class="footer--heading"><%= config.title %></h2>
    <div class="footer-col-wrapper">
    <% if (config.email || config.github) { %>
      <div class="footer-col footer-col---1">
        <ul class="contact-list">
          <% if (config.email) { %>
          <li>
            <a href="mailto:<%- config.email %>">
              <span class="icon icon---email"><% include assets/icon-email.svg %></span>
              <span class="email"><%- config.email %></span>
            </a>
          </li>
          <% } %>
          <% if (config.github) { %>
          <li>
            <a href="https://github.com/<%- config.github %>">
              <span class="icon icon---email"><% include assets/icon-github.svg %></span>
              <span class="email"><%- config.github %></span>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
    <% } %>
      <div class="footer-col footer-col---3">
        <ul class="slash-list">
          <li><%= config.description %></li>
          <li>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
              <img alt="知识共享许可协议" style="border-width: 0" src="https://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>