<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <title><%= page.title %></title>
  <%- open_graph() %>
  <%- css('assets/api/styles/main.css') %>
</head>
<body>
  <div class="apidoc">
    <div class="apidoc-index">
      <% page.indexes.forEach(function(index) { %>
        <%- index %>
      <% }) %>
    </div>
    <div class="apidoc-content">
      <%- page.content %>
    </div>
  </div>
  <%- js('assets/api/js/manifest.js') %>
  <%- js('assets/api/js/vendor.js') %>
  <%- js('assets/api/js/main.js') %>
</body>
</html>